@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: hsl(230, 100%, 99%);
}


input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            padding: 12px;
            width: 90px;
            background: url('img/icon-slider.svg') #61d4c9 center center no-repeat ;
            background-size: contain;
            cursor: pointer;
            box-shadow: 0 0 30px #66e1d5
          }


         

        